::-webkit-scrollbar { 
    display: none; 
}

h1,h2 {
    font-family: "Perpetua Titling MT", serif;
    font-weight: normal;
}

#splashLogo {
	width: 40%;
	height: auto;
}

#logo {
	position: fixed;
	z-index: 1000;
	width: 100px;
	height: auto;
}

#walletAmount {
	font-size: 50px;
}

#rentAmount {
	font-size: 50px;
}

#redTag {
	color: red;
}

#walletRemaining{
	font-size: 30px;
}

.sign-up-form{
	display: none;
}

.cardContainer{
	width: 98%;
	margin: auto;
}

