::-webkit-scrollbar { 
    display: none; 
}

h1,h2 {
    font-family: "Perpetua Titling MT", serif;
    font-weight: normal;
}

#splashLogo {
	width: 40%;
	height: auto;
}

#logo {
	position: fixed;
	z-index: 1000;
	width: 100px;
	height: auto;
}

#walletAmount {
	font-size: 50px;
}

#rentAmount {
	font-size: 50px;
}

.redTag {
	color: chocolate;
}

#walletRemaining{
	font-size: 30px;
}

#paypalLoading{
	display: none;
}

#paypalSuccess{
	display: none;
	font: green;
}

#successMessage{
	font-size: 30px;
	color: #1E9E9E;
}

#successSubMessage{
	font-size: 20px;
}

.sign-up-form{
	display: none;
}

.cardContainer{
	width: 98%;
	margin: auto;
}
.subscriptionCardContainer{
	width: 95%;
	margin: auto;
}

.ui.teal.button {
	color: white;
}

.wardrobeCardTitle{
	font-size: 30px;
}

.ui.segment{
	display: none;
}

.intro {
	display: none;
}